@import 'globle';
@import 'popup';

/* header CSS */
header {
	-webkit-transition: all 0.4s ease-In-out;
	-moz-transition: all 0.4s ease-In-out;
	-o-transition: all 0.4s ease-In-out;
	transition: all 0.4s ease-In-out;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 7;
	padding: 15px 0;

	&.sticky {
		position: fixed;
		padding: 8px 0;
		background-color: #000000f0;

		.logo img {
			width: 60px;
		}
	}
}

.logo {
	display: inline-block;
	position: relative;
	z-index: 3;

	img {
		display: block;
		width: 110px;
	}
}

/* Menu Css */
.menu {
	font-size: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 35px;

	li {
		display: inline-block;

		a {
			display: block;
			font-size: 18px;
			color: #fff;
			font-weight: 300;
			letter-spacing: 1.2px;
			padding-bottom: 20px;
			margin-top: 20px;

			&:hover {
				color: $theam1;
			}
		}

		&.active a {
			color: $theam2;
			position: relative;

			&::after {
				content: '';
				width: 50%;
				height: 4px;
				background-color: $theam2;
				position: absolute;
				left: 0;
				bottom: 12px;
				border-radius: 50px;
			}
		}

		&.navBtn a {
			padding: 13px 20px;
			margin: 0;
			background-color: $theam2;
			color: $balck1;
			font-weight: 600;
			letter-spacing: 1.2px;
			border-radius: 30px;
			box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
			border: 1px solid transparent;

			&:hover {
				background-color: $balck2;
				color: #fff;
				box-shadow: inset 0 -100px 0px 0px $balck2;
				border-color: $balck2;
			}

			&::after{
				display: none;
			}
		}

		
	}
}

/* Dropdown CSS*/
@keyframes btotreverse {
	0% {
		top: 75px;
		opacity: 1;
	}

	100% {
		top: 115px;
		opacity: 0;
	}
}

@keyframes btot {
	0% {
		top: 115px;
		opacity: 0;
	}

	100% {
		top: 60px;
		opacity: 1;
	}
}

.dropdown-nav {
	position: relative;
	overflow: hidden;
	vertical-align: middle;

	&:hover {
		overflow: visible;

		ul.dropdown {
			animation: btot 0.5s forwards;
			z-index: 9;
		}
	}
}

ul.dropdown {
	position: absolute;
	width: 280px;
	right: 0px;
	margin: auto;
	background: rgb(80 80 80 / 50%);
	padding: 20px;
	text-align: left;
	border-radius: 2px;
	box-shadow: 0 0 10px 3px rgb(120 120 120 / 8%);
	opacity: 0;
	animation: btotreverse 0.5s forwards;

	li {
		width: 100%;
		display: inline-block;

		a {
			padding: 0;
			color: $white !important;
			display: block;
			width: 100%;
			margin: 0px 0 20px;
			font-weight: 600;
			background: transparent !important;

			&:hover {
				color: $theam2 !important;
			}
		}

		&.last a {
			margin-bottom: 0px;
		}
	}
}

/* Hamburger Menu */
.menu-Bar {
	width: 30px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0px;
	margin: auto;
	z-index: 22;
	display: none;

	span {
		display: block;
		height: 4px;
		width: 100%;
		background: #ffff00;
		position: absolute;
		transition: .6s all;
		border-radius: 100px;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 8px;
			transform-origin: left;
		}

		&:nth-child(3) {
			top: 16px;
		}
	}

	&.open span {
		background: #b70404;

		&:nth-child(1) {
			transform: rotate(45deg);
			top: 12px;
			transform-origin: right-center;
		}

		&:nth-child(2) {
			width: 0;
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
			top: 12px;
			transform-origin: right-center;
		}
	}
}

/* Main Banner CSS */
.mainBanner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	min-height: 100vh;
	position: relative;
	padding: 200px 0 80px 0;
	overflow: hidden;
	background-color: transparent;

	.container {
		z-index: 2;
	}

	.videoBg {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		overflow: hidden;
		z-index: -1;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgb(0 0 0 / 75%);
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			backdrop-filter: blur(3px);
		}

		video {
			width: 100%;
		}
	}

	.mainBanner-cont {
		h2 {
			font-family: 'Shapiro 25 Super Fly Text';
			font-size: 24px;
			color: $white;
			line-height: 1.2;
			font-weight: 600;
			text-transform: uppercase;
			position: relative;
			letter-spacing: 8px;
			padding-bottom: 25px;
			display: flex;
			align-items: center;
			gap: 10px;

			&::before {
				content: '';
				width: 50px;
				height: 5px;
				border-radius: 50px;
				background-color: $theam1;
			}
		}

		h1 {
			font-size: 76px;
			font-weight: 600;
			line-height: 1.1;
			padding-bottom: 30px;
			letter-spacing: 3px;
		}

		p {
			color: #fff;
			line-height: 1.4;
			font-size: 30px;
			letter-spacing: 0.6px;

			b {
				color: $theam1;
			}
		}

		.mn-btn {
			padding-top: 25px;
		}
	}

	.mainBanner-socialIcon {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		position: absolute;
		bottom: 20px;
		right: 12%;

		b {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 6px;
		}

		em {
			width: 30px;
			height: 2px;
			background-color: $theam1;
			border-radius: 5px;
		}

		ul {
			display: flex;
			align-items: center;
			padding-left: 10px;

			gap: 15px;

			li {
				a {
					color: $white;

					&:hover {
						color: $theam2;
					}
				}
			}
		}
	}

	.shape-polygon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: calc(100% - (clamp(1.33em, 3vw, 3em) * 6));
		aspect-ratio: 816/1000;
		clip-path: polygon(24% 0, 67% 0, 86% 11%, 100% 100%, 19% 100%, 0 88%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;



		.inner {
			position: absolute;
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
			padding: 200px 0 80px 0;
			// perspective: 2000px;

			h2,
			h1,
			p {
				color: $theam2;
				// color: transparent !important;
				// -webkit-text-fill-color: transparent;
				// /* Will override color (regardless of order) */
				// -webkit-text-stroke-width: 0.1px;
				// -webkit-text-stroke-color: $white;
			}

			&::after {
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
			}

			.container {
				z-index: 99;
			}

			.single {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
				--aspect-ratio-w: 16;
				--aspect-ratio-h: 9;
				--parent-height: 100;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(var(--parent-height) * 1vh);
				overflow: hidden;
				background: var(--color-dark);
				transform: translateZ(0);
				isolation: isolate;
				pointer-events: none;
				border-radius: 0 0 calc(var(--border-radius) * 1.5) calc(var(--border-radius) * 1.5);
				border-radius: calc(var(--border-radius) * 1.5);

				video {
					width: 100vw;
					height: calc(var(--aspect-ratio-h)/var(--aspect-ratio-w)*(var(--parent-height) * 1vw));
					min-height: calc(var(--parent-height) * 1vh);
					min-width: calc(var(--aspect-ratio-w)/var(--aspect-ratio-h)*(var(--parent-height) * 1vh));
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

	}
}

/* Custom CSS Styling */
.homeSection1 {
	width: 100%;

	.hSec1-bottom {
		padding-top: 60px;
	}

	.hSec1-cont {
		.mn-btn {
			padding-top: 20px;
		}

		h6 {
			padding-bottom: 20px;
		}

		h5 {
			padding: 20px 0 20px;
		}

		ul {
			li {
				display: flex;
				gap: 8px;
				flex-direction: column;
				padding-bottom: 25px;
				color: #999;
				font-size: 16px;
				line-height: 1.3;

				b {
					flex-shrink: 0;
					font-weight: 600;
					font-size: 18px;
					line-height: 1.2;
					color: #ffffff;
				}
			}
		}
	}
}

.beforeAfterFrame {
	font-size: 0;

	video {
		height: 400px !important;
		width: auto !important;
	}

	i {
		margin-top: 11px;
	}
}

.beforeAfter {
	padding-left: 30px;
}

.brandIcon-main {
	display: flex;
	align-items: center;
	gap: 30px;

	.brandIcon {
		img {
			filter: brightness(100);
		}
	}
}

// FAQ's Section
.innerFAQSection {
	position: relative;

	&::before {
		content: "";
		width: 110px;
		height: 140px;
		background-image: url(../images/section-after-before/idea1.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 100px;
		right: 8%;
		pointer-events: none;
	}
}

.innerFAQSec-accordion {
	position: relative;
	z-index: 1;

	.accordion {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			background-color: $balck2;
			backdrop-filter: opacity(0.8);
			border-top: 1px solid transparent;
			border-bottom: 1px solid #dfdfdf;
			will-change: border;
			transition: all 0.4s ease-in-out;

			&.last {
				border-bottom-color: transparent;
			}

			&.active {
				i {
					transform: rotate(360deg);
					color: $theam2;

					&:before {
						content: "\f068";
						color: $theam2;
					}
				}

				.acc_title {
					color: $theam2;
					padding-bottom: 0;
				}
			}

			.acc_title {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				cursor: pointer;
				font-size: 20px;
				line-height: 1.2;
				font-weight: 400;
				color: $white;
				padding: 20px 15px 20px;
				transition: all 0.4s ease-in-out;

				i {
					color: $white;
					padding: 0 15px;
					transition: 0.35s ease-out;
				}
			}

			.acc_desc {
				padding: 15px 60px 20px 10px;

				*:nth-last-child(1) {
					padding-bottom: 0 !important;
				}

				p {
					padding-bottom: 0;
					margin-bottom: 0;
					font-weight: 400;
					font-size: 16px;
					line-height: 1.5;
					color: #303A42;
					transition: all 0.4s ease-in-out;
					color: $white1;
					padding-bottom: 15px;

					b {
						display: inline-block;
						padding-bottom: 0;
						color: $white;
					}



				}

				b {
					display: inline-block;
					font-weight: 700;
					padding-bottom: 15px;
					letter-spacing: 0.8px;
				}

				ul {
					padding-bottom: 15px;

					li {
						background-color: transparent;
						border-top: 0px solid transparent;
						border-bottom: 0px solid #dfdfdf;
						will-change: border;
						transition: all 0.4s ease-in-out;
						padding-bottom: 10px;
						margin-bottom: 0;
						font-weight: 400;
						font-size: 16px;
						line-height: 1.4;
						padding-left: 15px;
						color: $white1;
						position: relative;

						&::before {
							content: '';
							width: 5px;
							height: 5px;
							background-color: $white1;
							position: absolute;
							top: 9px;
							left: 0;
							border-radius: 50%;
						}
					}
				}
			}
		}

	}
}

// CTA SECTION
.ctaSection1 {
	background-image: url(../images/sec-bg1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	&::before {
		content: "";
		width: 450px;
		height: 400px;
		background-image: url(../images/section-after-before/after1.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -150px;
		left: -70px;
		pointer-events: none;
	}

	.ctaSec1-hd {
		h5 {
			padding-bottom: 10px;
		}

		h6 {
			padding-bottom: 20px;
		}

		p {
			font-size: 22px;
			padding-bottom: 40px;

			a{
				font-size: 22px;
				color: $theam1;

				&:hover{
					color: $white;
				}
			}
		}
	}
}

.reviewSection {

	.reviewSec-hd {
		h5 {
			padding-bottom: 8px;
		}

		h6 {
			padding-bottom: 10px;
		}
	}
}

.review-slider {
	.slick-slide {
		margin: 0;
		padding: 20px;
	}

	ul.slick-dots {
		padding: 20px 0 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		li {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				width: 13px;
				height: 13px;
				background-color: $balck2;
				border: 3px solid $white1;
			}

			&.slick-active {
				button {
					width: 13px;
					height: 13px;
					background-color: transparent;
					border-color: $theam2;
				}
			}
		}
	}
}

.reviewCard {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 25px;
	border-radius: 10px;
	background-color: $balck2;

	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	box-shadow: 0px 0px 35px 5px rgba(156, 156, 156, 0);
	transition: all 0.4s ease-in-out;

	&:hover {
		box-shadow: 0px 0px 35px 5px rgba(156, 156, 156, 0.3);
	}

	.reviewCard-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;

		.reviewCard-userDetail {
			display: flex;
			align-items: center;
			gap: 10px;

			.reviewCard-userImg {
				flex-shrink: 0;

				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					object-fit: cover;
				}
			}

			.reviewCard-userData {
				h6 {
					font-family: 'Shapiro 35 Feather Text';
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 0.9px;
					padding-bottom: 3px;
				}

				span,
				p {
					color: $white1;
					font-size: 11px;
					line-height: 1.3;
				}
			}
		}

		.reviewCard-rate {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			gap: 2px;

			i {
				font-size: 11px;
				color: $theam2;
			}
		}
	}

	.reviewCard-body {
		p {
			font-size: 16px;
			font-weight: normal;
			line-height: 1.4;
			color: $white;
			letter-spacing: 0.3px;
		}
	}

	.reviewCard-footer {
		span {
			color: $white1;
			font-style: italic;
			letter-spacing: 1px;
			font-size: 12px;
		}
	}
}

// Our Services
.stacked-card {
	background: $balck2;
	padding: 2rem;
	border-radius: 5px;
	top: 130px;
	position: sticky;
	margin-bottom: 40px;
	box-shadow: 0px 0px 15px rgb(77 77 77 / 36%);

	.content {
		h5 {
			font-size: 18px;
			gap: 10px;
			letter-spacing: 5px;
			padding-bottom: 5px;
		}

		h6 {
			font-size: 38px;
			padding-bottom: 20px;
		}

		p {
			padding-bottom: 20px;
			color: $white1;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 30px;

			li {
				max-width: 50%;
				flex: 0 0 50%;
				display: flex;
				align-items: center;
				gap: 15px;
				padding: 0 7.5px 15px 0;
				position: relative;
				font-size: 18px;
				color: $white1;

				&:nth-child(2n) {
					padding-right: 0;
					padding-left: 7.5px;
				}

				&::before {
					content: '';
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: $white1;
				}
			}
		}
	}

	.row {
		align-items: center;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.not-sticky {
		position: relative;
		top: 0 !important;
	}

	& img {
		width: 100%;

	}

	&:nth-child(1n) {
		top: 120px;
	}

	&:nth-child(2n) {
		top: 140px;
	}

	&:nth-child(3n) {
		top: 160px;
	}

	&:nth-child(4n) {
		top: 180px;
	}

	&:nth-child(5n) {
		top: 200px;
	}

	&:nth-child(6n) {
		top: 220px;
	}

	&:nth-child(7n) {
		top: 240px;
	}

	&:nth-child(8n) {
		top: 260px;
	}
}

// OUR PROCESS
.proceSec-cont {
	ul {
		li {
			position: relative;
			display: flex;
			padding-bottom: 40px;
			overflow: hidden;
			opacity: 0;
			transition: 0.4s ease;

			&::after {
				content: "";
				width: 0px;
				height: 0%;
				position: absolute;
				top: 10px;
				left: 17px;
				border-left: 6px dotted $white1;
				transition: all 1.2s ease-in-out;
			}

			&.last::after {
				display: none;
			}

			span {
				flex: 0 0 40px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $grey;
				display: grid;
				place-items: center;
				font-size: 24px;
				font-weight: 500;
				color: $white;
				padding-top: 3px;
				z-index: 1;
				transition: all 1.4s ease-in-out;
			}

			&.active {
				&::after {
					height: 90%;
				}

				span {
					transition: all 0.4s ease-in-out;
					background-color: $theam2;
				}

				div {
					animation-name: fadeInUp;
					animation-duration: 0.8s;
					animation-fill-mode: both;
				}
			}

			&:hover {
				span {
					transition: all 0.2s ease;
					background-color: $grey;
				}
			}

			div {
				padding-left: 50px;
				padding-right: 30px;


				h6 {
					padding-bottom: 10px;
					color: $white;
					font-size: 24px;
					font-weight: 700;
					line-height: 1.1;
				}

				p {
					font-weight: 400;
					font-size: 18px;
					line-height: 1.4;
					color: $white1;
				}
			}

		}
	}
}

.proceSection-img {
	filter: invert(1) contrast(2) brightness(1);
}

// BLOG PAGE
.blogSection {
	padding: 150px 0 160px
}

.blogListing {
	row-gap: 24px;
}

.blog-card {
	border-radius: 6px;
	background-color: #1d1e22;
	box-shadow: 0 5px 18px 0 rgb(167 167 167 / 12%);
	height: 100%;
	transition: all 0.4s ease-in-out;
	filter: grayscale(1);
	display: flex;
	flex-direction: column;

	&:hover {
		filter: grayscale(0%)
	}

	.blogCadr-img {
		margin-bottom: 55px;
		position: relative;
		flex-shrink: 0;

		img {
			border-radius: 6px 6px 0 0;
		}

		.blogCard-date {
			border-radius: 4px;
			background-color: $theam1;
			position: absolute;
			left: 35px;
			bottom: -35px;
			width: 78px;
			height: 74px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			h6 {
				font-size: 30px;
				line-height: .933;
				color: $balck2;
				font-weight: 700;
				padding-bottom: 5px;
			}

			span {
				font-size: 14px;
				color: $balck2;
				font-weight: 400;
			}
		}
	}

	.blogCard-card {
		padding: 0 25px 25px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;

		h4 {
			font-size: 20px;
			color: $white;
			line-height: 1.2;
			font-weight: 600;
			padding-bottom: 12px;
			min-height: 65px;
			letter-spacing: 1px;
		}

		p {
			font-size: 16px;
			color: $white1;
			line-height: 1.4;
			font-weight: 300;
			padding-bottom: 35px;
			letter-spacing: 0.6px;
		}

		a {
			font-size: 14px;
			color: $white;
			line-height: 1.2;
			font-weight: 600;
			display: inline-flex;
			align-items: center;
			gap: 10px;

			&:hover {
				color: $theam2;
			}
		}
	}
}

.innerBlogSection {
	width: 100%;
	height: auto;
	padding: 120px 0;
	position: relative
}

.art,
ul.share li {
	margin: 0 0 0 auto
}

.auth-img,
.author {
	align-items: center;
	display: inline-flex
}

// Footer
footer {
	border-top: 1px solid #363636c7;
	padding: 90px 0;

	.widget-about {
		h6 {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.2;
			color: #fff;
			padding-bottom: 20px;
		}

		ul {
			li {
				padding-bottom: 15px;

				a {
					color: #a8a8a8;
					line-height: 1.4;
					display: inline-flex;
					gap: 5px;

					i {
						width: 20px;
						flex: 0 0 20px;
						color: $theam2;
						margin-top: 3px;
					}

					&:hover {
						color: #fff;

						i {
							color: $theam1;
						}
					}
				}
			}
		}

		.footer-socialIcon {
			display: flex;
			align-items: center;
			gap: 10px;
			padding-top: 15px;


			b {
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 4px;
			}

			em {
				width: 30px;
				height: 2px;
				background-color: $theam1;
				border-radius: 30px;
			}
		}

		ol {
			display: flex;
			gap: 15px;

		}
	}

	.widget {
		&.padleft {
			padding-left: 50px;
		}

		h6 {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.2;
			color: #fff;
			padding-bottom: 20px;
			letter-spacing: 2px;
		}

		ul {
			li {
				padding-bottom: 20px;

				&.last {
					padding-bottom: 0;
				}

				a {
					font-size: 16px;
					color: #a8a8a8;

					&:hover {
						color: $theam2;
					}
				}
			}
		}
	}
}

.footer-logo {
	width: 120px;
}

.copyright {
	background-color: #101010;
	padding: 8px 0 10px;
	border-top: 1px solid #242424;

	p {
		font-size: 13px;
		font-size: 600;
		letter-spacing: 0.8px;
	}

	.cont {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 8px;

		a {
			font-size: 13px;
		}

		span {
			color: $theam2;
		}
	}
}


// INNER PAGES START
.innerBanner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 180px 0 60px;
	position: relative;
	min-height: 450px;
	background-color: rgba(25, 27, 29, 1);

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(25, 27, 29, 1);
		// background: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(0,0,0,1) 100%);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.8;
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(25, 27, 29, 1);
		background: linear-gradient(180deg, rgba(25, 27, 29, 0) 0%, rgba(0, 0, 0, 1) 100%);
		position: absolute;
		top: 0;
		left: 0;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.innerBanner-cont {
		position: relative;
		z-index: 1;

		h1 {
			font-size: 55px;
			font-weight: 600;
			color: #fff;
			letter-spacing: 1.4px;
			line-height: 1.2;
			padding-bottom: 10px;
		}
	}
}

.breadcrumb {
	.breadcrumb-item {
		position: relative;
		margin: 0px 2px;

		a {
			font-size: 18px;
			font-weight: 400;
			color: #cecece;

			&:hover {
				color: #fff;
			}
		}

		&.active {
			font-size: 18px;
			font-weight: 400;
			color: $theam1;
		}
	}
}

.breadcrumb-item+.breadcrumb-item::before {
	float: left;
	padding-right: 0.5rem;
	content: "";
	position: absolute;
	left: -10px;
	top: 6px;
	height: 4px;
	width: 10px;
	background-color: $theam1;
	border-radius: 40px;
}

.circel-tex-area1 {
	max-width: 120px;
	max-height: 120px;
	z-index: 10;
	position: relative;
}

.circel-tex-area1 img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// Circle text SVG css 
.rounded-text {
	width: 120px;
	height: 120px;
	text-transform: uppercase;
	transform: rotate(-103deg);
	color: #fff;
	font-weight: bold;
	letter-spacing: 15px;
	z-index: -1;
	font-family: var(--font-outfit);
	animation: rotating 12s linear infinite;

	&.widget {
		letter-spacing: 7px;
	}

	@keyframes rotating {
		from {
			transform: rotate(360deg);
		}

		to {
			transform: rotate(0deg);
		}
	}

	svg {
		fill: #fff;

		g {
			font-size: 20px;
		}
	}
}

// ABOUT US
.aboutSection1 {
	position: relative;

	.aboutSec1-img {
		overflow: hidden;
		border-radius: 50% 50% 0 0;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.aboutSec1-cont {
		padding-left: 80px;
	}
}

.water-text-two h1 {
	font-size: 115px;
	font-weight: 600;
	color: rgba(167, 167, 167, 0.431372549);
	opacity: 0.25;
}

.water-text-two {
	text-align: center;
}

.aboutSection2 {
	.aboutSec2-cont {

		ul {
			padding: 30px 0 60px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 -15px;
			row-gap: 30px;

			li {
				padding: 0 15px;
				width: 33.33%;
				flex: 0 0 33.33%;

				.aboutSec2-card {
					padding: 25px 10px;
					border: 1px solid rgba(255, 255, 255, 0.13);
					text-align: center;
				}

				h6 {
					font-size: 18px;
					font-weight: 600;
					line-height: 1.2;
					padding-bottom: 10px;
					text-transform: capitalize;
					color: $white1;
				}

				h5 {
					font-size: 46px;
					line-height: 1;
					display: flex;
					align-items: flex-end;
					justify-content: center;
					gap: 8px;

					span {
						font-size: 16px;
						line-height: 1.7;
						color: $white1;
					}
				}
			}
		}
	}

	.aboutSec2-awward {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 30px;
		padding-top: 40px;
	}

	.aboutSec2-right {
		padding-left: 40px;
	}
}

.skills-bar-container {
	position: relative;
	width: 100%;
	list-style: none;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 0px;

	li {
		position: relative;
		width: 100%;
		padding: 0;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0px;
		}

		.progressbar-title {
			font-size: 20px;
			font-weight: 600;
			color: $white;
			padding-bottom: 10px;

			.percent {
				position: absolute;
				right: 0;
				top: 0px;
				transition: 0.3s;
				display: flex;
				gap: 3px;

				&::after {
					content: "%";
				}
			}
		}

		// end progressbar-title

		.bar-container {
			background-color: rgba(#acacac, 0.5);
			position: relative;
			width: 100%;
			height: 3px;
			margin-top: 5px;
			display: block;

			.progressbar {
				position: absolute;
				width: 0%;
				height: 100%;
				background-color: $white;
				animation-duration: 2s;
				animation-timing-function: ease-out;
			}
		}

		// end bar-container
	}
}

// OUR PROCESS
.processSection1 {
	padding: 0;
}

.proSec1-head {
	padding: 70px 0 72px;
	background-color: $black;
	display: flex;
	justify-content: center;

	.fixed-product {
		transition: all 0.4s ease-in-out;
		box-shadow: 3px 8px 20px rgba(204, 204, 204, 0);
		will-change: box-shadow;

		&.sticky-product {
			position: fixed;
			width: auto;
			display: inline-flex;
			z-index: 2;
			bottom: 20px;
			box-shadow: 0px 0px 9px 1px rgb(222 222 222 / 37%);
			background-color: rgb(36 36 36 / 75%);
			padding: 15px 30px 12px;
			backdrop-filter: blur(14px);
			border-radius: 200px;

			ul {
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 25px;

				li {
					display: flex;
					align-items: center;
					gap: 1px;

					&.current {
						a {
							color: $theam1;

							&:hover {
								color: $theam1;
							}
						}
					}

					a {
						font-weight: 700;
						font-size: 18px;
						line-height: 1;
						color: $white1;

						&:hover {
							color: $white;
						}
					}
				}
			}
		}
	}

	ul {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 35px;

		li {
			display: flex;
			align-items: center;
			gap: 1px;

			&.current {
				a {
					color: $theam1;

					&:hover {
						color: $theam1;
					}
				}
			}

			a {
				font-weight: 700;
				font-size: 28px;
				line-height: 1.2;
				color: $white1;

				&:hover {
					color: $white;
				}
			}
		}
	}
}

.processSec1-main {
	padding-top: 62px;
	padding-bottom: 62px;

	&.right {
		.processSec1-mainImg {
			text-align: right;
		}
	}

	.processSec1-mainCont {
		p {
			font-weight: 500;
			padding-bottom: 20px;
			line-height: 1.4;
			color: $white1;
		}

		ul {
			li {
				position: relative;
				padding-bottom: 20px;
				padding-left: 25px;
				font-weight: 500;
				font-size: 16px;
				line-height: 1.42;
				color: $white1;

				span {
					font-weight: 700;
					color: $theam1;
				}


				&::after {
					content: "";
					width: 8px;
					height: 8px;
					transform: rotate(45deg);
					background-color: #fff;
					position: absolute;
					top: 7px;
					left: 0px;
				}
			}
		}
	}
}


// CONTACT US
.contactSection1{
	position: relative;

	.container{
		position: relative;
		z-index: 2;
	}

	&::before{
		content: '';
		width: 50%;
		height: 100%;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 20%, rgba(48,48,48,1) 35%, rgba(54,54,54,1) 50%, rgba(48,48,48,1) 65%, rgba(32,32,32,1) 80%, rgba(0,0,0,1) 100%);
		position: absolute;
		right: 0;
		top: 0;
	}

	.contactSec1-left{
		padding-right: 30px;
	}

	.contactSec1-hd{
		padding-bottom: 35px;
	}

	.contactSec1-form{
		input, textarea{
			border: 1px solid #999;
			box-shadow: none;
		}
		.contactf-Feild{
			padding-bottom: 15px;
			input, textarea{
				width: 100%;
				height: 45px;
				border-radius: 5px;
				padding: 10px;
				color: #fff;
				font-weight: 400;
				font-size: 15px;
				line-height: 1.2;
			}
			textarea{
				height: 90px;
			}
		}

		.form-check{
			display: flex;
			align-items: center;
			gap: 15px;
			input{
				flex-shrink: 0;
			}
		}

		.contactf-btn{
			padding-top: 30px;
			button{
				padding: 15px 35px;
				margin: 0;
				background-color: #DEA712;
				font-size: 18px;
				color: #000818;
				font-weight: 600;
				letter-spacing: 2px;
				border-radius: 100px;
				text-transform: capitalize;
				box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
				border: 1px solid transparent;
				display: inline-flex;
				align-items: center;
				gap: 10px;
				transition: all 0.4s ease-in-out;

				path {
					transition: all 0.4s ease-in-out;
					fill: $balck1;
				}
		
				&:hover {
					background-color: $balck2;
					color: $white;
					box-shadow: inset 0 -100px 0px 0px $balck2;
					border-color: $balck2;
		
					path {
						fill: $white;
					}
				}
			}
		}
	}

	.contactSec1-right{
		padding: 0;
		margin: 0;
		font-size: 0;
		iframe{
			filter: grayscale(100%) invert(92%) contrast(83%);
			width: 100%;
			height: 550px;
		}

		.contactSec1-card{
			background-color: #282B32;
			
		}

		.contactSec1-social{
			font-size: 16px;
			padding: 40px 30px;

			ul{
				display: flex;
				flex-direction: column;
				gap: 30px;
				li{
					text-align: center;
					.icon{
						width: 60px;
						height: 60px;
						border-radius: 50%;
						border: 2px solid $theam1;
						display: flex;
						align-items: center;
						justify-content: center;
						color: $theam2;
						font-size: 22px;
						margin: auto;
					}

					h6{
						font-size: 20px;
						color: $white;
						line-height: 1.2;
						padding: 20px 0 5px;
						font-weight: 700;
					}

					a, p{
						font-size: 16px;
						font-weight: 400;
						line-height: 1.4;
						color: $white1;
					}
				}
			}
		}
	}
}


// OUR WORK
.workSec1-panel{
	position: relative;
	padding: 30px 0;

	.owl-nav{
		display: flex;
		gap: 20px;
		position: absolute;
		right: 0;
		top: -75px;

		button{

			span{
				font-size: 40px;
				transition: all 0.4s ease-in-out;

				&:hover{
					color: $theam1;
				}
			}
		}
	}

	.workSec1-card{
		cursor: pointer;
		position: relative;
		overflow: hidden;
		a{
			width: 100%;
		}

		img{
			width: 100%;
			height: 260px;
			object-fit: cover;
			transform: scale(1);
			transition: all 0.4s ease-in-out;
		}

		&::after{
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba($black, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.4s ease-in-out;
			opacity: 0;
		}

		&:hover{
			&::after{
				opacity: 1;
			}

			img{
				transform: scale(1.02);
			}
		}
	}
}

// TEST

#text-anim div{
	display: inline-block;
}






















@media (min-width: 1660) {
	
}

@media (max-width:1440px) {}

@media (max-width:1200px) {
	img {
		max-width: 100%;
		height: auto;
	}

	.menu-Bar {
		display: block;
		top: 0px;
	}

	.menuWrap.open {
		display: flex;
		left: 0px;
	}

	.menuWrap {
		position: fixed;
		left: -210%;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #ff8000;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		transition: all 0.4s ease;
		z-index: 3;
		width: 100vw;
	}

	ul.menu li {
		display: block;
	}

	ul.menu li a {
		margin-bottom: 10px;
		padding: 0;
		display: block;
		text-align: center;
		margin-bottom: 15px;
		padding-right: 0px;
		margin-right: 0px;
		color: #fff;
		font-size: 15px;
		text-transform: capitalize;
	}

	.logo img {
		max-width: 50%;
	}

	.container {
		position: relative;
	}

	header .header-top {
		display: none;
	}

	header .main-header ul.menu>li {
		display: block;
		padding: 0px;
	}

	header .main-header ul.menu>li a {
		color: #fff;
		padding: 0px;
	}

	header .main-header ul.menu>li a:before {
		display: none;
	}
}

@media (max-width:824px) {}